{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@app": "./src/app",
          "@router": "./src/router"
        }
      }
    ]
  ]
}
